<p>Status Switch for BL#: <%= @tracking.bill_of_lading.master_bl_no.blank? ? @tracking.bill_of_lading.bl_number : @tracking.bill_of_lading.master_bl_no %></p>
<p>Vessel: <%= @tracking.vessel %></p>
<p>Actual Date: <%= (@type == "etd" ? @tracking.etd_actual_date : @tracking.eta_actual_date) %></p>
<p>Reason of Switch:</p>
<pre><%= (@type == "etd" ? @tracking.etd_desc : @tracking.eta_desc) %></pre>

<address>
Jl. Muara Karang Blok C7 Utara No.37C<br/>
Phone: 021-71040027 / 021-71040028<br/>
Fax: 021-66604679<br/>
Email: general@interbenualog.com<br/>
www.interbenualog.com <br/>
</address>