<div id="notesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Notes</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label for="" class="control-label"></label>

        <div class="controls">
          <textarea id="cost_revenue_notes" name="cost_revenue[notes]" style="width: 515px; height: 120px"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="update_notes" data-dismiss="modal" aria-hidden="true">Update</button>
    </div>
  </div>