<div class="row-fluid">
  <form id="form-cra" method="get" action="<%= cost_revenue_analysis_reports_path %>" class="form-horizontal span6" target="_blank">
    <fieldset>
      <legend>Report Cost & Revenue Analysis</legend>
      <div class="control-group">
        <label for="" class="control-label">Format</label>

        <div class="controls">
          <select name="format" id="format">
            <option value="pdf">PDF</option>
            <option value="xls">XLS</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label for="" class="control-label">Filter by</label>
        <div class="controls">
          <select id="filter_cra_by" name="filter_cra_by">
            <%= options_for_select(Constant::SORTED_BY) %>
          </select>
        </div>
      </div>
      <div class="control-group" id="sort-data-cra">
        <label for="" class="control-label">Filter Data</label>
        <div class="controls">
          <select id="filter_cra_yearly" name="filter_cra_yearly">
            <option value="">Select a Year...</option>
            <%= options_for_select(Constant.years_range) %>
          </select>
          <input type="text" id="filter_cra_monthly" class="filter_my hidden" name="filter_cra_monthly">
        </div>
      </div>
      <!-- <div class="control-group">
        <label for="" class="control-label">Filter by</label>

        <div class="controls"><input type="text" id="filter_cra" class="filter_my" name="filter_cra"></div>
      </div> -->
      <div class="control-group">
        <label for="" class="control-label">&nbsp;</label>

        <div class="controls">
          <button type="submit" class="btn btn-primary">View Report</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#filter_cra_by").on("change", function(){
      var value = $(this).val();
      $("#sort-data-cra").removeClass("hidden");
      $("#filter_cra_yearly").val("");
      $("#filter_cra_monthly").val("");

      if(value == "all")
      {
        $("#sort-data-cra").addClass("hidden");
      } 
      else if(value == "monthly")
      {
        $("#filter_cra_monthly").removeClass("hidden");
        $("#filter_cra_yearly").addClass("hidden");
      }
      else if(value == "yearly")
      {
        $("#filter_cra_monthly").addClass("hidden");
        $("#filter_cra_yearly").removeClass("hidden");
      }
    });

    $("#form-cra").on("submit", function(e){
      var filter_by = $("#filter_cra_by").val();
      if (filter_by == "yearly")
      {
        if ($("#filter_cra_yearly").val() == "")
        {
          alert("Filter Data Yearly can't empty!");
          return false;
        }
      }
      else if(filter_by == "monthly")
      {
        if ($("#filter_cra_monthly").val() == "")
        {
          alert("Filter Data Monthly can't empty!");
          return false;
        }
      }
    })
  })
</script>
<script type="text/javascript">
  // jQuery(document).ready(function () {
  //   jQuery("#COST-REVENUE-ANALYSIS").find("form").on("submit", function () {
  //     if (jQuery("#filter_cra").val() == '') {
  //       alert("Please enter the 'Filter by' field");
  //       return false;
  //     }
  //     return true;
  //   });
  // })
</script>