<div id="viewSummaryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Summary Report</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>
<style type="text/css" media="screen">
  .modal-body table tr td {
    /*text-align: center;*/
  }
  .modal-body dl dt, .modal-body dl dd {
    text-align: left !important;
  }
</style>