<style type="text/css">
	#size-a4-print, #size-a4-print label, #size-a4-print pre, #size-a4-print span, #size-a4-print td, #size-a4-print div{
		font-family: "Calibri"!important;
		font-size: 11pt;
		font-weight: 700;
	}
	pre{
		width: 250px;
		font-weight: normal!important;
	}
	span{
		font-weight: normal!important;
	}
</style>
<div id="size-a4-print">
	<%= render "bill_of_lading" %>
</div>